<ul>
    {% for item in menu_items %}
        <li>
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% elif item.named_url %}
                <a href="{% url item.named_url %}">{{ item.title }}</a>
            {% else %}
                {{ item.title }}
            {% endif %}
            {% if item.children.all %}
                <ul>
                    {% for child in item.children.all %}
                        <li>
                            {% if child.url %}
                                <a href="{{ child.url }}">{{ child.title }}</a>
                            {% elif child.named_url %}
                                <a href="{% url child.named_url %}">{{ child.title }}</a>
                            {% else %}
                                {{ child.title }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
